@import './_media-mixins.scss';
body {
  min-height: 100vh;
  font: 16px "Encode Sans", sans-serif;
  font-weight: 500;
  position: relative;
  background: url("../../img/bg-bottom.svg") top left no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  color: #000;
}
.main {
  padding-top: 100px;
}
.no-scroll {
  overflow: hidden;
}

@include desktop-lowres() {
  .main {
    padding-top: 190px;
  }
}