@import './global-styles/media-mixins';

.about {
  &__img {
    width: 45px;
    margin: 0 auto;
    &-wrapper {
      width: 46px;
      height: 46px;
      margin: 0 auto;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

@include desktop-lowres() {
  .about {
    &__container {
      display: flex;
    }
    &__img {
      margin: 0;
      &-wrapper {
        margin: 0;
      }
    }

    &__repeater {
      padding: 0 15px;
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}