@import './global-styles/colors.scss';
@import './global-styles/_media-mixins.scss';
.contact {
  &__info {
    margin-bottom: 30px;
    text-align: center;
    h2 {
      margin-bottom: 20px;
      font-weight: 800;
    }
  }
  form {
    background-color: $white;
  }
  &__api {
    margin-top: 20px;
    text-align: center;
    &-logos {
      margin-top: 30px;
      padding: 0 25px;
      display: flex;
      flex-wrap: wrap;
      .top {
        transform: translate(0px, -40px);
        opacity: 0;
      }
      .bottom {
        transform: translate(0px, 40px);
        opacity: 0;
      }
      div {
        position: relative;
        width: 90px;
        height: 44px;
        margin: 0 auto 35px;
        padding: 0 15px;
        &:before,
        &:after {
          width: 90px !important;
          height: 44px !important;
          background-size: contain !important;
        }
      }
      
    }
    &.shown {
      .top,
      .bottom {
        animation: showTopLogos;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
    }
    
    h5 {
      margin-bottom: 10px;
    }
    img {
      width: 90px !important;
      height: 54px !important;
      object-fit: contain !important;
    }
  }
}

@keyframes showTopLogos {
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@include desktop-lowres() {
  .contact {
    display: grid;
    grid-template-columns: 60% 40%;
    // grid-template-rows: auto;
    grid-template-areas:
    "contentX form"
    "api form";
    &__info {
      grid-area: contentX;
      padding-right: 4%;
      h2 {
        text-align: left;
      }
      .content-wys {
        text-align: left;
      }

    }
    &__api {
      padding-right: 4%;

      grid-area: api;
      &-text {
        text-align: left;
      }
    }
    &__form {
      grid-area: form;
    }
  }
}