@import './global-styles/media-mixins';

.footer {
  padding: 45px 0 30px 0;
  &__copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 75px;
    p {
      margin: 0;
    }
  }
}


@include tablet() {
  .footer {
    &__copyright {
      height: auto;
      &-wrapper {
        flex-wrap: wrap;
        align-items: flex-start;
        p {
          margin: 0;
        }
      }
    }
  }
}