@import './global-styles/colors.scss';
@import './global-styles/media-mixins.scss';

.hamburger {
  margin-right: 10px;
  cursor: pointer;
  .line {
    width: 30px;
    height: 2px;
    background-color: $blue;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &.active .line:nth-child(2){
    opacity: 0;
  }
  &.active .line:nth-child(1){
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  &.active .line:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
} 


@include desktop-lowres() {
  .hamburger {
    display: none;
  }
}