@import './global-styles/colors.scss';
@import './global-styles/_media-mixins.scss';
.main-header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
  &__scrolled {
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    transition: all 0.3s ease;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    -webkit-transition: all 0.3s ease;
  }
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 100;
  &__left {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 126px;
    height: 80px;
    &-link {
      display: block;
      margin-top: 18px;
    }
  }
  
  .menu {
    display: flex;
    flex-flow: column;
    padding: 10px 10px 60px;
    justify-content:space-between;
    width: 100%;
    min-height: calc(100vh - 80px);
    position: absolute;
    top: 100%;
    right: 0;
    overflow-y: auto;
    background: #fff;
    border: 1px solid $grey;
    z-index: 80;
    transition: 0.5s;
    &.hidden {
      // top: -100vh;
      right: -100%;
    }
    &__item {
      display: flex;
      margin: 40px 10px;
      color: $blue;
      font-weight: 600;
      font-size: 20px;
      &--has-child {
        position: relative;
        width: fit-content;
        &:after {
          content: "";
          position: absolute;
          top: 13px;
          right: -20px;
          display: inline-block;
          border-top: 0.3em solid $blue;
          border-right: .3em solid transparent;
          border-left: .3em solid transparent;
          border-bottom: 0;
        }
      }
      &-submenu {
        padding: 0 24px 20px;
        display: flex;
        flex-flow: column;
        border-bottom: 1px solid #d4d1d1;
        a {
          position: relative;
          margin-bottom: 16px;
          font-weight: 600;
          &:before {
            content: "-";
            position: absolute;
            left: -10px;
          }
          &:last-child {
            margin-bottom: 4px;
          }
        }
      }
    }
    .cta-menu {
      justify-content: center;
      &:hover {
        text-decoration: none;
      }
    }
    &__lang {
      display: flex;
      justify-content: center;
      a {
        position: relative;
        margin: 20px;
        padding: 14px;
        color: $purple;
        &.active {
          border: 2px solid $blue;
          pointer-events: none;
        }
        &.inactive {
          &:after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 5px;
            width: 0px;
            height: 2px;
            background: $purple;
            transition: 0.4s;
          }
          &:hover {
            &:after {
              width: 40px;
            }
          }
        }
      }
    }
  }
  
}


@include desktop-lowres() {
  .main-header-wrapper {
    position: fixed;
    width: 100%;
    &__scrolled {
      background-color: #fff;
      box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
      transition: all 0.3s ease;
      z-index: 9999;
      -webkit-box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
      -webkit-transition: all 0.3s ease;
    }
  }
  .main-header {
    max-width: 1230px;
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    .menu {
      position: relative;
      width: auto;
      flex-flow: row;
      align-items: center;
      padding: 0;
      border: none;
      overflow: inherit;
      background: transparent;
      min-height: auto;
      &.hidden {
        right: 0%;
      }
      &__wrapper {
        display: flex;
      }
      &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0 30px; 
        font-size: 16px;
        font-weight: 600;
        transition: 0.4s;
        &:before {
          content: '';
          position: absolute;
          left: 0%;
          bottom: 6px;
          height: 2px;
          width: 0px;
          background: $purple;
          transition: 0.4s;
        }
        &-wrapper {
          position: relative;
        }
        &:hover {
          font-size: 16px;
          color: $purple;
          font-weight: 600;
          background: none;
          &:before {
            width: 100%;
          }
          // text-decoration: underline;
          // border: none;
        }
        &-submenu {
          position: absolute;
          width: max-content;
          top: 140px;
          right: -10px;
          font-size: 15px;
          padding: 20px;
          border-radius: 5px;
          border: none;
          box-shadow: 5px -2px 27px 1px rgba(145,145,145,0.36);
          text-align: right;
          opacity: 0;
          overflow: initial;
          background: $white;
          transition: 0.5s;
          pointer-events: none;
          &:before {
            content: '';
            transform: rotate(45deg);
            width: 10px;
            height: 10px;
            display: block;
            background: #fff;
            position: absolute;
            right: 16px;
            top: -5px;
          }
          &:hover {
            opacity: 1;
            top: 46px;
            pointer-events: auto;
          }
          a {
            transition: 0.3s;
            font-weight: 400;
            &:hover {
              color: $purple;
            }
            &:before {
              content: '';
            }
          }
        }
        &--has-child {
          padding: 15px 20px 15px 0;
          &:after {
            top: 23px;
            right: 4px;
          }
          &:before {
            display: none;
          }
          &:hover {
            + .menu__item-submenu {
              opacity: 1;
              top: 46px;
              pointer-events: auto;
            }
          } 
        }
      }
      .cta-menu {
        height: 50px;
        &:before {
          display: none;
        }
      }
      &__lang {
        margin-left: 15px;

        a {
          margin: 0px 0px;
        }
      }
    }
  }
}