@import './global-styles/colors.scss';
@import './global-styles/media-mixins';

.integrations-header {
  text-align: center;
  padding: 40px 0 20px;
  p {
    font-weight: 500;
  }
}
.integrations-content {
  &__image {
    width: 200px;
    height: 50px;
    background-size: contain !important;
  }
}
.integrations-tabs {
  &__link {
    background: none;
    padding: 10px 15px;
    font-size: 13px;
    color: #2C4482;
    cursor: pointer;
    transition: 0.5;
    &--active {
      border-bottom: 2px solid $blue;
      font-weight: bold;
    }
  }
}

@include tablet() {

.integrations-header {
  text-align: center;
  p {
    max-width: 80%;
    margin: 0 auto;
  }
}
}