@import './global-styles/media-mixins';

.map-component {
  &__map {
    &-container {
      margin: 0 6%;
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      padding: 5px;
      margin-bottom: 70px;
    }
  }

  &__left {
    margin-bottom: 100px;
    transform: translate3d(0,100px,0) scale(.6);
    opacity: 0;
  }

  &__right {
    transform: translate3d(100px,0,0) scale(.6);
    opacity: 0;
  }

  &__check {
    display: flex;
    align-items: center;
    width: 223px;
    margin: 0 auto 30px;
    p {
      line-height: 19px;
      text-transform: uppercase;
    }
    
    &-map {
      flex-shrink: 0;
      width: 45px;
      height: 44px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }
}

.show-bottom {
  transform: translateZ(0) scale(1);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s;
}
.show-top {
  transform: translateZ(0) scale(1);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s;
}

@include tablet() {
  .map-component {
    &__map {
      width: 581px;
      height: 383px;
      &-container {
        width: fit-content;
        margin: 0 auto 70px;
      }
    }
  }
}

@include desktop-lowres() {
  .map-component {
    &__wrapper {
      flex-direction: row;
      align-items: center;
      margin-bottom: 100px;
    }

    &__left {
      height: fit-content;
      margin-bottom: 0px;
    }

    &__right {
      height: fit-content;
      margin-left: 20px;
    }

    &__map {
      &-container {
        margin-bottom: 0;
      }
    }
  }
}