@import './global-styles/media-mixins';

.map-component {
  &__map {
    &-container {
      position: relative;
      margin: 0 6%;
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      padding: 5px;
      margin-bottom: 70px;
    }
  }

  &__left {
    margin-bottom: 100px;
    transform: translate3d(0,100px,0) scale(.6);
    opacity: 0;
  }

  &__right {
    transform: translate3d(100px,0,0) scale(.6);
    opacity: 0;
  }

  &__check {
    display: flex;
    align-items: center;
    width: 223px;
    margin: 0 auto 30px;
    p {
      line-height: 19px;
      text-transform: uppercase;
    }
    
    &-map {
      flex-shrink: 0;
      width: 45px;
      height: 44px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  &__locations {
    position: absolute;
    &-pin {
      position: absolute;
      left: calc(50% - 10px);
      top: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      // opacity: 0.2;
      border-radius: 50%;
      animation: dotBreath;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      // &:last-of-type {
      //   top: 80%;
      // }
      &-inner {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        z-index: 2;
      }
    }
    &-img {
      width: 70px;
      &-container {
        position: absolute;
        top: 30%;
        left: calc(50% - 45px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 12px;
      }
    }
    &-wrapper {
      height: 100%;
    }
    &:nth-of-type(2) {
      width: 39%;
      height: 49%;
      bottom: 10%;
      left: -6%;
      animation: borderYellow;
      animation-duration: 5s;
      animation-delay: 15s;
      animation-iteration-count:infinite;
    }
    &:nth-of-type(3) {
      width: 43.5%;
      height: 44%;
      top: 10%;
      right: -6%;
      &:before {
        border: 4px solid #ffc244;
      }
    }
    &:last-of-type {
      width: 33%;
      height: 51.5%;
      bottom: -11%;
      right: 14%;
    }
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 4px solid transparent;
    }
    &-wrapper {
      position: relative;
      .top-box, .bottom-box, .left-box, .right-box {
        position: absolute;
      }
      .top-box {
        top: 0;
        height: 4px;
        width: 0px;
      }
      .left-box {
        left: 0;
        width: 4px;
        height: 0;
        transform: rotate(180deg);
        bottom: 0;
      }
      .bottom-box {
        bottom: 0;
        height: 4px;
        width: 0px;
        transform: rotate(180deg);
        right: 0;
      }
      .right-box {
        right: 0;
        width: 4px;
        height: 0px;
      }
    }
  }
}

@keyframes dotBreath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.show-bottom {
  transform: translateZ(0) scale(1);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s;
}
.show-top {
  transform: translateZ(0) scale(1);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s;
}

@include tablet() {
  .map-component {
    &__map {
      width: 581px;
      height: 383px;
      &-container {
        width: fit-content;
        margin: 0 auto 70px;
      }
    }
  }
}

@include desktop-lowres() {
  .map-component {
    &__wrapper {
      flex-direction: row;
      align-items: center;
      margin-bottom: 100px;
    }

    &__left {
      height: fit-content;
      margin-bottom: 0px;
    }

    &__right {
      height: fit-content;
      margin-left: 20px;
    }

    &__map {
      &-container {
        margin-bottom: 0;
      }
    }
  }
}