@import './global-styles/media-mixins';

.map-component {
  &__map {
    &-container {
      position: relative;
      margin: 0 6%;
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      padding: 5px;
      margin-bottom: 70px;
    }
  }

  &__left {
    margin-bottom: 100px;
    transform: translate3d(0,100px,0) scale(.6);
    opacity: 0;
  }

  &__right {
    transform: translate3d(100px,0,0) scale(.6);
    opacity: 0;
  }

  &__check {
    display: flex;
    align-items: center;
    width: 223px;
    margin: 0 auto 30px;
    p {
      line-height: 19px;
      text-transform: uppercase;
    }
    
    &-map {
      flex-shrink: 0;
      width: 45px;
      height: 44px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  &__locations {
    position: absolute;
    transition: border-color 0s ease-out 2.75s, width 0.25s ease-out 2.75s, height 0.25s ease-out 3s;

    &:nth-of-type(2) {
      width: 39%;
      height: 49%;
      bottom: 10%;
      left: -6%;
      animation: borderYellow;
      animation-duration: 5s;
      animation-delay: 15s;
      animation-iteration-count:infinite;
    }
    &:nth-of-type(3) {
      width: 43.5%;
      height: 44%;
      top: 10%;
      right: -6%;
      &:before {
        border: 4px solid #ffc244;
      }
    }
    &:last-of-type {
      width: 33%;
      height: 51.5%;
      bottom: -11%;
      right: 14%;
    }
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 4px solid transparent;
    }
    &--yellow {
      border-color: #ffc244;
    }
    &--red {
      border-color: #d61f26;
    }
    &--blue {
      border-color: #2C4482;
    }
    &--green {
      border-color: #3cd5af;
    }
    &-wrapper {
      position: relative;
      span {
        position: absolute;
        transition: all .4s;
      }
      .top-box {
        top: 0;
        height: 2px;
        width: 0px;
        background-color: red;
        animation: animateTopBox;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
      .left-box {
        left: 0;
      }
      .bottom-box {
        bottom: 0;
        height: 2px;
        width: 0px;
      }
      .right-box {
        right: 0;
        background-color: red;
        width: 2px;
        height: 0px;
        animation: animateRightBox;
        animation-delay: 1.5s;
        animation-duration: 1s;
      }
    }
  }
}

@keyframes animateTopBox {
  100% {width: 100%;}
}

@keyframes animateRightBox {
  100% {height: 100%;}
}

// @keyframes borderYellow {
//   0% {border: 4px solid transparent;}
//   100% {border: 4px solid #ffc244;}
// }

.show-bottom {
  transform: translateZ(0) scale(1);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s;
}
.show-top {
  transform: translateZ(0) scale(1);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 0.6s;
}

@include tablet() {
  .map-component {
    &__map {
      width: 581px;
      height: 383px;
      &-container {
        width: fit-content;
        margin: 0 auto 70px;
      }
    }
  }
}

@include desktop-lowres() {
  .map-component {
    &__wrapper {
      flex-direction: row;
      align-items: center;
      margin-bottom: 100px;
    }

    &__left {
      height: fit-content;
      margin-bottom: 0px;
    }

    &__right {
      height: fit-content;
      margin-left: 20px;
    }

    &__map {
      &-container {
        margin-bottom: 0;
      }
    }
  }
}