.news-section {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;


  a {
    width: 23%;
    min-width: 23%;
    height: 100%;
    display: flex;
    margin: 15px;
  }

  &__img {
    width: 100%;
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);

  }

  &__title {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
  }
}



@media only screen and (min-width: 1024px) {
  .news-section {
    max-width: 880px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow-y: unset;
    justify-content: center;

    a {
      width: 18%;
      height: 100%;
      display: flex;
      margin: 40px 24px;
    }

    &__img {
      width: 100%;
      height: 110px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      filter: grayscale(100%);

    }

  }

}