@import './global-styles/colors.scss';
@import './global-styles/_media-mixins.scss';

.partnership-form {
  padding: 40px 30px;
  border: 1px solid red;
  h2 {
    color: $blue;
    margin-bottom: 30px;
  }
  &__input-wrap {
    position: relative;
    margin: 0 0 40px;
  }
  input {
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #E4E4E4;
    background: none;
    &:focus {
      border-bottom: 2px solid $purple;

      ~label {
        top: -20px;
        font-size: 14px;
        color: $purple;
      }
    }
  }
  label {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}