@import './global-styles/media-mixins';

.sponsors {
  &__img {
    width: 76px;
    &-wrapper {
      margin-bottom: 35px;
      padding: 0 10px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
  }
}
.top {
  transform: translate(0px, -40px);
  opacity: 0;
}
.bottom {
  transform: translate(0px, 40px);
  opacity: 0;
}
.shown {
  .top,
  .bottom {
    animation: showTopLogos;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
}