@import './global-styles/media-mixins';

.partners {
  position: relative;
  span {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: transparent;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
    &.inactive {
      opacity: 0.2;
      pointer-events: none;
    }
    &:first-of-type {
      left: 6px;
      border-left: 5px solid #2C4482;
      border-bottom: 5px solid #2C4482;
    }
    &:last-of-type {
      right: 6px;
      border-top: 5px solid #2C4482;
      border-right: 5px solid #2C4482;
    }
    &:active {
      width: 35px;
      height: 35px;
    }
  }
}
.sponsors {
  &__img {
    width: 76px;
    &-wrapper {
      margin-bottom: 35px;
      padding: 0 10px;
      position: relative;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
  }
}
.top {
  transform: translate(0px, -40px);
  opacity: 0;
}
.bottom {
  transform: translate(0px, 40px);
  opacity: 0;
}
.shown {
  .top,
  .bottom {
    animation: showTopLogos;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
}

@include desktop-lowres () {
  .sponsors {
    &__img {
      min-width: 76px;
      margin-right: 25px;
      margin-left: 25px;
      &-wrapper {
        margin-bottom: 0;
      }
    }
    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      width: calc(7 * 156px);
      margin: 0 auto;
      overflow: hidden;
      padding: 0 35px;
      transition: 0.5s;
      position: relative;
      
    }
    &__container {
    }
  }
}